
<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Dashboard</a>
  <h2 class="title">New Blog Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="blog title"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="blog content"/>
    </div>
    <button type="submit" class="button is-link is-pulled-right">create post</button>
  </form>
</section>

<script src="/javascript/create-post.js"></script>